div.icon {
    height: 32px;
    width: 32px;
    position: relative;
    margin: 15px;
    overflow: hidden;
    display: inline-block;
}
/* DustBin */
div.icon div.dustbin {
    width: 16px;
    height: 20px;
    background: #333;
    position: absolute;
    left: 8px;
    bottom: 3px;
}

div.icon div.dustbin:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #333;
    left: -2px;
    top: -4px;
}

div.icon div.dustbin:before {
    height: 3px;
    width: 6px;
    position: absolute;
    top: -6px;
    content: '';
    background: #333;
    left: 5px;
}
