/* #74C4F9 light blue */
/* #344559 grey blue */
/* #EE715D red orange */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #74C4F9;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #344559;
}
p {
  font-family: 'Roboto', sans-serif;
  color: #eee;
}
*:focus {
  outline: 0;
}
input::placeholder {
  color: #344559;
  font-style: italic;
}

