/* #74C4F9 light blue */
/* #344559 grey blue */
/* #F97482 soft red */
/* #EE715D red orange */
/* #1CABA7 green */
/* #72DA66 darker green */
/* #344559 dark font */

* {
  margin: 0px;
  padding: 0px;
  color: #344559;
  letter-spacing: 0.8px;
}
*::selection {
  background: #ffb7b7;
}
body {
  background: #74C4F9;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
p {
  font-family: 'Roboto', sans-serif;
  color: #344559;
}
input:focus, textarea:focus {
  outline: 0;
}
input, textarea {
  display: block;
  font-size: 16px;
  background: #74C4F9;
  border: none;
  margin: 34px 0px;
  padding: 4px 8px;
  width: 100%;
  color: #344559;
  border-left: 2px dashed #344559;
  border-bottom:  2px solid #344559; 
}
textarea {
  height: 60px;
}
input::placeholder, textarea::placeholder {
  color: #344559;
  font-style: italic;
}

