/* #74C4F9 light blue */
/* #344559 grey blue */
/* #EE715D red orange */

body {
  background: #74C4F9;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #344559;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

